.cloud__container{
    height: 60vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
}

.cloud__container::after{
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(251, 233, 200);
  top:0;
  left:0;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
   position: absolute;
}



.bordercon{
  height: fit-content;
    width: fit-content;
    /* border-style: solid;
    border-width: 2px;
   border-image: linear-gradient(90deg,red 0 15%, rgb(89, 85, 85) 10% 85%, red 66% 100%) 10/2px ;
   display: flex;
   justify-content: center;
   align-items: center; */
 
    border-style: solid;
   border-image: linear-gradient(45deg,red 0 15%, white 10% 85%, red 66% 100%) 10/6px ;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2rem;
   position: absolute;
   z-index: 3;
   top: 1rem;
   left: 1rem;
}

.bordercon h2{
  
  font-size: 2rem;
  font-family: "Federant", serif;
}

.cloud__container-aboutus{
  width: 90%;
  height: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
  padding: 2rem;
  row-gap: 2rem;
}
.cloud__container-aboutus h2{
   font-size: 2rem;
  font-family: "Federant", serif;
  color: rgb(244, 69, 69);
}

.cloud__container-aboutus-content{
  width: 70%;
  height: 70%;
  background-color: blue;
}