.paddi{
    padding: 0.5rem 0;
}
.homereturn{
    color: white;
    font-size: 4rem;
    padding: 1rem;
   
}


@media screen and (max-width: 500px) {
.padi1{
    padding: 3rem;
    
}

.paddi{
    padding: 0.5rem 0;
}

}