@import "tailwindcss";


/* .paddi{

    padding: 0.5rem 0;
}
.homereturn{
    color: white;
    font-size: 4rem;
    padding: 1rem;
   
}


@media screen and (max-width: 500px) {
.padi1{
    padding: 3rem;
    
}

.paddi{
    padding: 0.5rem 0;
}

} */

.About_container{
    background-color: rgb(248, 225, 182);
    height: 100vh;
    display: flex;
    justify-content: center;
}
.flexi{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.About_content_cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: red;
    padding-top: 6rem;
}
.About_us{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 6rem;
    background-color: yellow;
   
}

.About_us h2::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: black;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
}
.About_us p{
 font-size:  1.5rem;
 color: oklch(78.9% .154 211.53);
 font-weight: 600;
}

.About_us h2{
 font-size: 2.25rem;
 font-weight: 800;
 color: white;
 position: relative;
}

.paddyy{
    padding: 1rem;
}