@import "tailwindcss";

.contact__container{
   
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
 
}

.contact__container--content{
    display: flex;
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.borderconx{
  height: 100px;
    width: fit-content;
    border-style: solid;
   border-image: linear-gradient(45deg,red 0 15%, white 10% 85%, red 66% 100%) 10/6px ;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem;
}

.borderconx h2
{
    font-size: 2rem;
    font-family: "Federant", serif;
}

.info__container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    padding-top: 2rem;
    column-gap: 2rem;
}
.info__container--info{
display: flex;
flex-direction: column;
justify-content: center;
width:60%;
height: fit-content;
/* background-color: yellow; */
padding: 1rem;
row-gap: 3rem;
padding-left: 4rem;
}

.info__container--location{
display: flex;
flex-direction: column;
width:40%;
 height: 100%;
padding: 1rem;
row-gap: 2rem;
}

.info__container--info--emailcon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 1rem;
    column-gap: 1rem;
}

.info__container--info--emailcon input{
    border: 1px solid rgb(235, 203, 144);
    padding: 1rem;
    border-radius: 10px;
    width: 200px;
    font-size: 15px;
    outline: none;
    flex-grow: 1;
}

.info__container--info textarea{
    font-size: 15px;
    outline: none;
    border: 1px solid rgb(235, 203, 144);
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
}

.send_message{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    /* background-color: rgb(167, 167, 220); */
}

.send_message button{
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    background-color: red;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    font-size: 10px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    outline: none;
}


.flexy--title{
    display: flex;
    justify-content: flex-start; 
    row-gap: 2rem;
    padding-left: 2rem; 
    text-transform: capitalize;
    line-height: 30px;
    font-size: 20px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}
.info__container--location--content{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    row-gap: 2rem;
    padding-left: 2rem;
}
.flexy{
    display: flex;
    justify-content: flex-start;
    column-gap: 1rem;
    font-size: 15px;
    height: fit-content;
    align-items: center;

}


@media screen and (max-width: 500px) {


.info__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    padding-top: 2rem;
    row-gap: 2rem;
    }

.info__container--info{
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
height: fit-content;
/* background-color: yellow; */
padding: 1rem;
row-gap: 1rem;

}

.info__container--info--emailcon{
    padding: 0.5rem;
  
}

.info__container--info--emailcon input{
    border-radius: 10px;
    width: 120px;
    font-size: 10px;
    outline: none;
    flex-grow: 1;
}

.space{
    margin-right: 10px;
    
}
.send_message{
    justify-content: center;
}
.contact__container--content{
    height: 30vh;
}

.info__container--info textarea{
    font-size: 10px;
    
}

.info__container--location{
   width: 100%;
   row-gap: 1rem;
}
.info__container--location--content{
    row-gap: 1rem;
}
.flexy{
    width: 100%;
}

}