.nav__container{
    display:flex;
    /* background-color: white; */
    width: 100%;
    height: fit-content; 
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    position: sticky;
    top:0;
    background-color: rgb(241, 236, 228);
    z-index: 100;
    padding: 1rem;
    border-bottom: 1px solid  rgb(240, 215, 170);
}



.company__name{
    display:flex;
    align-items: center;
    justify-content: center;
    width:150px;
    background-color: rgb(245, 229, 200); 
    height:40px; 
    font-family: "Federant", serif;
    font-weight: 400;
    font-style: normal;
    pad: 1rem;
}

.company__name_con{
    display:flex;
    align-items: center;
    justify-content: center; 
    background-color:rgb(240, 215, 170);
    width: 90%;
    height: 90%; 
}

.company__name--title{
    position: relative;
    /* text-shadow: 1px 3px 3px rgb(238,75,43); */
}


.navbar__links--container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 2rem; 
    
}
.navbar__links{
    display: flex;
    justify-content: space-around;
    column-gap: 3rem;
    font-size: 1.6rem;
    
}
.links1,
.links2,
.links3 {
  text-decoration: none;
  outline: none;
  text-align: center;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}


.links3:hover{
    border: 1.2px solid rgb(240, 215, 170);
    padding: 0.7rem;
    background-color: red;
    color: white;
    border-radius: 1rem;
}

.links2:hover{
    border: 1.2px solid rgb(240, 215, 170);
    padding: 0.7rem;
    background-color: red;
    color: white;
    border-radius: 1rem;
}

.links1:hover{
    border: 1.2px solid rgb(240, 215, 170);
    padding: 0.7rem;
    background-color: red;
    color: white;
    border-radius: 1rem;
}

@media screen and (max-width: 500px) {
  .company__name{
   
    width:fit-content;
    height:30px; 
    padding: 1rem;
    }
    
  }
