.control{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  /* border: 2px solid red; */
 
}

.embla{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.embla__viewport {
  overflow: hidden;
  display: flex;
}

.embla::after{
  content:'';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background:  rgba(0, 0, 0, 0.3);
  z-index: 3;
  clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
}

.embla__slide{
  display: flex;
  position: relative;

}

.content{
position: absolute;
top:20%;
width: 1140px;
max-width: 80%; 
left: 50%;
transform: translateX(-50%); 
padding-right: 30%;
box-sizing: border-box;
color:white;
text-shadow: 0px 5px 10px #0004;
z-index: 100;
}

.content .author{
    font-weight: bold;
    letter-spacing: 10px;

}

.content .title,
.content .topic{
    font-weight: bold;
    font-size: 4rem;
    list-style: 2rem;
}

.content .topic{
    color:rgb(238,75,43);
    font-family: "Federant", serif;
}

.content .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    padding-top: 20px;
   
}

.content button{
    background-color: red;
    border: none;
    letter-spacing: 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
     color: white;
}

.content button:nth-child(2){
    background-color: transparent;
    color: white;
    border: 1px solid red;
}



.embla__container {
  display: flex;
 
   
}
.embla__slide {
   flex: 0 0 100%;
}


.arrows{
    position: absolute;
    top:80%;
    right:52%;
    width:300px;
    max-width: 30%;
    display: flex;
    gap:10px;
    align-items: center;
}

.arrows button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(242, 239, 239, 0.81);
    border: none;
    font-family: monospace;
    color: rgb(238,75,43);
    font-weight: bold;
    font-size: large;
    transition: 0.5s;
    z-index: 100;
}

.arrows button:hover{
    background-color: #eee;
    color: #555;
}

.embla__slide figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.embla__slide figure img{
  width: 100%;
  height: 100%;
  object-position: center;
   object-fit: cover;
  }


  @media screen and (max-width: 500px) {

  .control{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    align-items: flex-start;
  }

  .embla{
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
     }

  .arrows{

   top: 83%;
   right: 60%;
  }
    .arrows button {
      height: 25px;
      width: 25px;
    }

    }