

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
 
}

body{
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
padding: 0;
margin: 0;
height: 100%;
width:100%;

}

@media screen and (max-width: 500px) {
 
      

    .links1,
    .links2,
    .links3{
        font-size: 1.1rem;
      } 

    .links3:hover{
      border: 1px solid rgb(240, 215, 170);
      padding: 0.3rem;
      background-color: red;
      color: white;
      border-radius: 1rem;
   }

    .links2:hover{
      border: 1px solid rgb(240, 215, 170);
        padding: 0.3rem;
        background-color: red;
        color: white;
        border-radius: 1rem;
    }

    .links1:hover{
        border: 1px solid rgb(240, 215, 170);
        padding: 0.3rem;
        background-color: red;
        color: white;
        border-radius: 1rem;
    }

    .company__name--title{
      font-size: 1.4rem;
    }

      .nav__container{
        height: 6vh;
      }
  }

   

  

